#### 머신러닝(ML)이란?
- 머신(컴퓨터)에게 학습을 시켜서 문제를 해결하는 것
---
정답을 아는지 여부에 따라 학습 종류가 분류된다
1. 지도 학습 : 정답을 알고, 정답을 기반으로 학습을 하는 것
2. 비지도 학습 : 정답 없이 머신을 학습시켜 인간이 생각하지 못한 패턴 등을 분석하여 스스로 정답을 찾도록 하는 것
3. 준지도 학습 : 지도 학습과 비지도 학습이 섞여있는 것
4. 강화 학습 : 보상에 대한 개념으로, 가장 큰 보상을 얻기 위해 최상의 전략을 스스로 학습하는 것(가중치 고려)
5. 딥러닝 : 뉴럴 네트워크와 같은 원리로 인공 신경망을 만들어서 학습하는 것

#### 배울 내용
- 머신러닝 - 지도학습
- 분류와 회귀
---
- 분류 : 이산형으로 범주형(카테고리)의 개념이다, 연속적인 숫자가 아닌 정답 레이블이 0, 1 특정한 값으로 이루어진다.
- 회귀 : 연속형으로, 정답 데이터가 연속적인 값이다.
---
즉, 정답 데이터의 타입에 따라 나뉜다

#### 머신러닝 지도학습, 분류
이진 분류/ 다중 분류

---
1. 0,1 / 스팸 or 스팸x / 고객 or 고객x 등 -> 이진 분류
2. 0,1,2 등 분류할 값이 다중인 경우 -> 다중 분류

#### 데이터 전처리 : 머신러닝에서 가장 중요한 작업 중 하나
- 전처리 : 데이터를 변환하는 작업 처리를 하는 것
- 머신은 숫자로만 학습을 하기 때문에 머신러닝을 하기 위해서는 모든 데이터를 숫자로 바꿔주어야 한다.(자연어나 영어, 문자열 데이터 등은 머신이 이해를 하지 못한다)
#### 즉, 머신러닝을 위해 전처리를 한다는 것은 머신에게 학습 시키기 위한 데이터프레임을 만드는 것이다(데이터프레임을 만드는 것은 결국 머신이 학습할 수 있도록 수치형 데이터로 변환하는 것이다)

#### 머신러닝 : 성능이 좋아진다
- 머신러닝이란 과거 데이터를 기반으로 실제 예측을 하는 것이다
- 과거 데이터를 기반으로 실제를 예측해보고, 정답과 비교해서 과거 데이터의 정답과 가장 유사하면 예측을 잘하는 것이라고 본다

#### 정답 데이터가 가장 중요한 키워드이다
- 기존에 나와 있는 데이터를 train과 test로 나눈다
- train과 test로 나누지 않고 전체 데이터로 학습을 하면 과대적합이 발생한다

---
따라서 train을 가지고 학습한 후 실제 예측을 하는데 그 예측값을 test 데이터와 비교하여 모델 성능을 평가한다

#### 머신러닝은 피처의 특징을 뽑아서 머신에게 잘 알려주면 되는 것이다

#### 이러한 피처의 특징의 기준점은 정답 데이터가 될 수 있다
- 예를 들어 파이썬 문법 응용반 80명 중 우수학회원 예측 모델을 만든다고 할 때, 안경 유무와 출석 유무 칼럼이 있다고 하면 둘 중 출석 유무 칼럼이 더 중요할 것이다.
- 이처럼 머신에게 학습을 시킬 때 어떤 변수가 중요한지, 어떤 변수를 사용할지에 대해서 기준점이 필요하다

#### 피처의 특징이 확실히 구분될 수 있는 컬럼이 중요하다
- 우수학회원 예측 모델을 만들 때, 우수학회원과 우수학회원이 아닌 경우의 과제 제출 유무가 50:50, 수업 참여 유무가 70:30이라고 하면 머신은 수업 참여 유무가 더 중요하다고 판단을 한다
- 이처럼 특징이 명확히 구분 되는 칼럼이 머신에게 학습시킬 때 더 성능을 좋게 할 수 있다.

In [1]:
import pandas as pd #데이터 분석을 위함

C:\Users\Hi\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Hi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.4SP5SUA7CBGXUEOC35YP2ASOICYYEQZZ.gfortran-win_amd64.dll
C:\Users\Hi\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
df=pd.read_csv('wine_test.csv') #와인 데이터 불러오기

In [4]:
df['class'].value_counts() #class 별로 숫자 카운트

1    71
0    59
2    48
Name: class, dtype: int64

In [5]:
df

,Unnamed: 0,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0
1,1,NaN,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,0
2,2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2