### for 문은 range()함수와 함께 사용되는 경우가 많다.

#### range()함수는 특정 범위의 정수 값을 가진다.

##### range()함수의 4가지 유형

- for 변수 in range(종료값):
    문장 1
    문장 2
    ...
    
0 ~ 종료값-1 의 정수 범위(1씩 증가)의 값을 가진다.
변수는 각 반복 루프에서 range() 범위에 잇는 각각의 값을 가진다.

- for 변수 in range(시작값, 종료값):
    문장 1
    문장 2
    ...
    
시작값에서 종료값-1의 정수 범위(1씩 증가)의 값을 가진다.

- for 변수 in range(시작값, 종료값, 증가값):
    문장 1
    문장 2
    ...
    
시작값 ~ 종료값-1의 정수 범위를 갖는데, 각 정수 사이의 간격은 증가값에 의해 결정된다.

- for 변수 in range(시작값, 종료값, 감소값):
    문장 1
    문장 2
    ...
    
감소값, 음수의 값을 가지는 경우 범위는 시작값 ~ 종료값 + 1 이 된다.

In [1]:
for i in range (1,21):
    if i % 2 == 0:
        print(i)
# 1부터 21까지의 숫자 중 짝수(2로 나누어 떨어지는 수)를 출력함

2
4
6
8
10
12
14
16
18
20

In [2]:
for i in range(2,21,2):
    print(i)
# 2부터 21까지 숫자를 2 간격으로 출력

2
4
6
8
10
12
14
16
18
20

In [3]:
for i in range(1,11,1):
    z = i*2
    print(z)

2
4
6
8
10
12
14
16
18
20

### 2차원 리스트
- 2차원 행과 열 두 가지로 이루어 진것
- 행은 index 열은 column 두 가지로 이루어 진것
- 데이터프레임 df또한 2차원으로 이루어진 형태

In [4]:
a = [[1,2],[3,4],[4,5]]

In [5]:
a

[[1, 2], [3, 4], [4, 5]]

In [6]:
c = [[6,7],[8,9],[10,11]]

In [7]:
c

[[6, 7], [8, 9], [10, 11]]

### 파이썬에서 결국 담는 주머니 다르고 그 주머니를 불러오는 방법이 다르다.
- 리스트에 담아도 그 리스트를 가지고 바로 값을 접근 할 수 없다.
- 데이터프레임이면 담는 그릇 데이터프레임이더라도 이 값을 바꾸거나 계산하려면 값에 바로 접근할 수 없다.

- 그 값을 접근하려면 접근 방식을 알아야 한다.
- 접근방식으로 모르고 진행하면 답답하다.

- 값 접근하려면? how to?
- 인덱스로 접근한다.

In [8]:
for i in range(10): # i 루프인덱스로 10번 반복
    print('반복문 쉬워!')

반복문 쉬워!
반복문 쉬워!
반복문 쉬워!
반복문 쉬워!
반복문 쉬워!
반복문 쉬워!
반복문 쉬워!
반복문 쉬워!
반복문 쉬워!
반복문 쉬워!

In [9]:
a

[[1, 2], [3, 4], [4, 5]]

In [10]:
#인덱스로 접근
a[2][1]

5

In [11]:
c[0][1]

7

In [12]:
#1차원 접근
b = ['a','b','c','d','e']

### b의 요소를 다 불러오는 반복문을 만들어 주세요!

In [13]:
for i in range(10):
    print(i) #0,1,2,3,4,5,6,7,8,9 반복

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in b:
    print(i) # 시퀀스객체

a
b
c
d
e

Q2. b = ['a','b','c','d','e'] for i in b 사용하지 말고 다르게 표현해 주세요! 반복문 만들어 주세요!

In [15]:
for i in range(len(b)):
    print(b[i])

a
b
c
d
e

In [16]:
len(b)

5

In [17]:
for i in range(5):
    print(b[i]) # 사실 같은 얘기

a
b
c
d
e

### 내가 추출하고 싶은 주머니에 대해서 그 값을 어떻게 접근할 수 있는지 정확히 알면 된다.
- Q3
a = [[1,2], [3,4], [4,5]]
- []리스트를 다 빼고 값만 출력

In [18]:
for i in a:
    print(i)

[1, 2]
[3, 4]
[4, 5]

In [19]:
for i in a: # 
    for j in i:
        print(j)

1
2
3
4
4
5

In [20]:
for i in range(3):
    for j in range(2):
        print(a[i][j])

1
2
3
4
4
5

- [1,2] 0,0 0,1
- [3,4] 1,0 1,1
- [5,6] 2,0 2,1

In [21]:
a[0][1]

2

In [22]:
for i in c:
    print(c)

[[6, 7], [8, 9], [10, 11]]
[[6, 7], [8, 9], [10, 11]]
[[6, 7], [8, 9], [10, 11]]

In [23]:
for i in c:
    print(i)

[6, 7]
[8, 9]
[10, 11]

### 빈 리스트를 만들어서 그 리스트에 요소를 추가한다.
- q4. 빈 리스트를 만들고 1부터 20중 짝수 값만 빈 리스트에 넣어주세요!

In [32]:
#홀수를 담기
hol = []
for i in range(1,21,2):
    hol.append(i)
print(hol)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
#짝수를 담기
list_1 = []
for i in range(1,21):
    if i % 2 == 0:
        list_1.append(i)
    
print(list_1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [33]:
# 전체 담기
list_2 = []
for i in range(1,21):
    list_2.append(i)
    
print(list_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Q5. [[0,0] [0,1],[1,0],[1,1]] 
2차원 리스트를 만들어 주세요! 위의 값이 들어간 2차원 리스트를 만들어 주세요!

In [27]:
abc=[]
for i in range(2): #0 1
    for j in range(2): #0 1 
        abc.append([i,j])
print(abc)

[[0, 0], [0, 1], [1, 0], [1, 1]]

In [30]:
a = []
for i in range(2):
    b = []
    for j in range(2):
        b.append(j)
    a.append(b)
print(a)

[[0, 1], [0, 1]]

In [45]:
for i in range(10):
    print(i, end ='')

0123456789

In [46]:
for i in range(1,11):
    print(i,end ='')

12345678910

In [47]:
for i in range(1,10,2):
    print(i, end ='')

13579

In [48]:
for i in range(20,0,-2):
    print(i,end ='')

2018161412108642

In [1]:
a = 2

for b in range(1,10):
    c = a * b
    print('%d x %d = %d'%(a,b,c))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18